/* --------------------------------------------------
 Grid Gallery
-------------------------------------------------- */

.gg-gallery {
	list-style-type: none;
	margin: 2em -1% 2em 0;
	position: relative;
	padding: 1% 0 0 0;
	width: 101%;
	max-width: 1200px;
}

.gg-gallery::before,
.gg-gallery::after {
	content: ' ';
	display: table;
}
.gg-gallery::after {
	clear: both;
}

.gg-masonry {
	float: left;
	margin-bottom: 1%;
	margin-right: 1%;
	padding: 0;
	width: 49%;
}

.gg-masonry img {
	width: 100%;
	transition: width 0.4s, height 0.4s;
}

.gg-masonry.gg-size-lg {
	width: 99%;
}

.gg-sizer {
	height: 1px;
	width: 49%;;
}
.gg-gutter {
	width: 1%;
}
