/* --------------------------------------------------
 Grid Gallery
-------------------------------------------------- */

.gg-gallery {
	list-style-type: none;
	margin: 2em -1% 2em 0;
	position: relative;
	padding: 1% 0 0 0;
	width: 101%;
	max-width: 1200px;
}

.gg-gallery::before,
.gg-gallery::after {
	content: ' ';
	display: table;
}
.gg-gallery::after {
	clear: both;
}

.gg-masonry {
	float: left;
	margin-bottom: 1%;
	margin-right: 1%;
	padding: 0;
	width: 49%;
}

.gg-masonry img {
	width: 100%;
	height: auto;
	transition: width 0.4s, height 0.4s;
}

.gg-gutter {
	width: 1%;
}

.gg-sizer {
	height: 1px;
}


/* 2 column grid */
.gg-gallery-col2 .gg-sizer,
.gg-gallery-col2 .gg-masonry,
.gg-gallery-col2 .gg-size-sm,
.gg-gallery-col2 .gg-size-md {
	width: 49%;
}
.gg-gallery-col2 .gg-size-lg,
.gg-gallery-col2 .gg-size-xl {
	width: 99%;
}


/* 3 column grid */
.gg-gallery-col3 .gg-sizer,
.gg-gallery-col3 .gg-masonry,
.gg-gallery-col3 .gg-size-sm {
	width: 32.3333%;
}
.gg-gallery-col3 .gg-size-md {
	width: 65.3333%;
}
.gg-gallery-col3 .gg-size-lg,
.gg-gallery-col3 .gg-size-xl {
	width: 99%;
}


/* 4 column grid */
.gg-gallery-col4 .gg-sizer,
.gg-gallery-col4 .gg-masonry,
.gg-gallery-col4 .gg-size-sm {
	width: 24%;
}
.gg-gallery-col4 .gg-size-md {
	width: 49%;
}
.gg-gallery-col4 .gg-size-lg {
	width: 74%;
}
.gg-gallery-col4 .gg-size-xl {
	width: 99%;
}

