/* --------------------------------------------------
 Grid Gallery
-------------------------------------------------- */

.gg-gallery {
	list-style-type: none;
	margin: 2em auto;
	position: relative;
	padding: 0;
	width: 100%;
	max-width: 1200px;
}

/* Hide inconsistent pixel rounding. */
.gg-gallery:after {
	background-color: #fff;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
}

.gg-masonry,
.gg-sizer {
	float: left;
	margin-bottom: 1%;
	padding: 0;
	width: 49.5%;
}

.gg-masonry img {
	width: 100%;
	transition: width 0.4s, height 0.4s;
}

.gg-masonry.gg-size-lg {
	width: 100%;
}

.gg-gutter {
	width: 1%;
}
